.media-icon {
  filter: grayscale(100%);
}

.media-icon:hover {
  transform: scale(1.2, 1.2);
}

.media-icon:active {
  filter: grayscale(50%);
}

@media (max-width: 720px) {
  .media-icon {
    height: 30px;
    width: 30px;
  }
}
